@use 'sass:color';
@use './themes';
@use './tango-colors' as tango;

$fill: tango.$aluminium-lightest;
$stroke: tango.$aluminium-darkest;
$light-stroke: tango.$aluminium-lightest;
$dark-stroke: tango.$aluminium-darkest;

$highlight-fill: tango.$sky-blue-light;
$highlight-stroke: $dark-stroke;

$severity-success-fill: tango.$chameleon-medium;
$severity-success-stroke: $dark-stroke;
$severity-warning-fill: tango.$orange-light;
$severity-warning-stroke: $dark-stroke;
$severity-error-fill: tango.$orange-dark;
$severity-error-stroke: $light-stroke;
$severity-critical-fill: tango.$scarlet-red-light;
$severity-critical-stroke: $light-stroke;

@mixin define() {
  --view-fill: #{$fill};
  --view-stroke: #{$stroke};

  // general property variables

  @include themes.defineComponent(
      distance,
      (
        small: 4px,
        medium: 8px,
        large: 16px,
      )
  );
  @include themes.defineComponent(
      radius,
      (
        small: 2px,
        medium: 4px,
        large: 8px,
      )
  );

  // specific component properties

  @include themes.defineComponent(
      button,
      (
        border-stroke: $stroke,
        standard-fill: tango.$aluminium-lighter,
        standard-fill--hover: color.adjust(tango.$aluminium-lighter, $blackness: 20%),
        standard-stroke: $stroke,
        emphasized-fill: $highlight-fill,
        emphasized-fill--hover: color.adjust($highlight-fill, $blackness: 20%),
        emphasized-stroke: $highlight-stroke,
        understated-fill: transparent,
        understated-fill--hover: color.adjust(tango.$aluminium-lighter, $alpha: -0.2),
        understated-stroke: $stroke,
        success-fill: $severity-success-fill,
        success-fill--hover: color.adjust($severity-success-fill, $blackness: 20%),
        success-stroke: $severity-success-stroke,
        warning-fill: $severity-warning-fill,
        warning-fill--hover: color.adjust($severity-warning-fill, $blackness: 20%),
        warning-stroke: $severity-warning-stroke,
        error-fill: $severity-error-fill,
        error-fill--hover: color.adjust($severity-error-fill, $blackness: 20%),
        error-stroke: $severity-error-stroke,
        critical-fill: $severity-critical-fill,
        critical-fill--hover: color.adjust($severity-critical-fill, $blackness: 20%),
        critical-stroke: $severity-critical-stroke,
      )
  );
}
