$butter-light: #fce94f;
$butter-medium: #edd400;
$butter-dark: #c4a000;
$orange-light: #fcaf3e;
$orange-medium: #f57900;
$orange-dark: #ce5c00;
$chocolate-light: #e9b96e;
$chocolate-medium: #c17d11;
$chocolate-dark: #8f5902;
$chameleon-light: #8ae234;
$chameleon-medium: #73d216;
$chameleon-dark: #4e9a06;
$sky-blue-light: #729fcf;
$sky-blue-medium: #3465a4;
$sky-blue-dark: #204a87;
$plum-light: #ad7fa8;
$plum-medium: #75507b;
$plum-dark: #5c3566;
$scarlet-red-light: #ef2929;
$scarlet-red-medium: #cc0000;
$scarlet-red-dark: #a40000;
$aluminium-lightest: #eeeeec;
$aluminium-lighter: #d3d7cf;
$aluminium-light: #babdb6;
$aluminium-medium: #888a85;
$aluminium-dark: #555753;
$aluminium-darkest: #2e3436;
